<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle|default("Strona z memami") }}</title>
    <link rel="stylesheet" href="style.css">
       <style>
		.banner {
			background-color: #be0377;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			border-style: solid;
			border-color: black;
		}
        .left-banner {
            height: 100%;
			position: fixed;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
            background-color: #be0377;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
            z-index: 1;
			border-style: dotted;
			border-color: black;
		}
		

	</style>
  
</head>

<body style="background-color: pink;  z-index: 2;" >

    <div class="left-banner ">
        <p>Panel</p>
            <div>
        <a href="login">Loguj</a><br/>
        <a href="register">Rejestracja</a><br/>
        <a href="admin">Admin Panel</a><br/>
        <a href="upload">Dodaj Mema</a><br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<img src="4860879.png" height="200" width="200">
    </div>
        <a href="http://localhost/tortury/pub/">
    </div>
    	<div class="banner">
            <p>MartynaPiwowarska.pl</p>
            
        </div>
    </a>
    
