{% include 'header.html.twig' %}
<div id="pageContainer">
<h1>Wgraj obrazek</h1>
{% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
<form action="" method="post" enctype="multipart/form-data">
    <label for="uploadedFileInput">
        Wybierz plik do wgrania na serwer:
    <input type="file" name="uploadedFile" id="uploadedFileInput" required>
        </label><br>
        <label for="uploadedFileInput">
        Wybierz nazwę pliku:
    <input type="text" name="uploadedText" id="uploadedFileInput" required>
    </label><br>
     {% if user is defined %}
        <input type="hidden" name="userId" value={{ user.getId() }}>
        {% endif %}
    <input type="submit" value="Wyślij plik" name="submit"><br>
</form>
{% include 'footer.html.twig' %} 