{% include 'header.html.twig' %}
<div id="pageContainer">
<h1>{{pageTitle}}</h1>
{% if  user is defined %}
<div id="loggedUser">
    Zalogowany użytkownik: {{ user.getName }}
</div>   

{% endif%}
<form action="" method="post" enctype="multipart/form-data">
    <label for="uploadedFileInput">
        Wybierz plik do wgrania na serwer:
    </label><br>
    <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
    {% if user is defined %}
    <input type="hidden" name="userID" value="{{ user.getID }}">
    {% endif %}
    <label for="uploadedFileNameInput">
        Wybierz tytuł mema 
    </label><br>
    <input type="text" name="uploadedTitle" id="uploadedFileNameInput" required><br>
    <input type="submit" value="Wyślij plik" name="submit"><br>
</form>

<br/>
<br/>
<br/>
<div>
<img src="anime-laugh-anime-smile.gif" style="border: 5px solid #555; position: absolute;
right: 150px;">
</div>

</div>


{% include 'footer.html.twig' %}